@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*pt1*/

body{width: 100%;
    transition: ease;
}

div#pt1{
    position: relative;
    background-color: #e4e4e4;
    width:100%;
    height: 100vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.719);
    
}

div#pt1 > div#pt1cnt{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div#pt1 > div#pt1cnt > img#ft{border-radius: 50%;
        margin: 30px 0px 15px 30px;

}

div#pt1 > div#pt1cnt > img#seta{
    position: fixed;
    top: -20%;
    left: 85%;
}

div#pt1 > div#pt1cnt > h1{
    color: #333333;
    font-size: 2.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 10px 20px 30px;
}

div#pt1 > div#pt1cnt > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    text-align: left;
    color: #333333;
    padding: 10px 10px 30px 30px;
}

div#pt1 > div#pt1cnt > input.txt{
    padding-left: 5px;
    margin: 0px 10px 10px 30px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.356);
    border: none;
    width: 220px;
}

div#pt1 > div#pt1cnt > input.sub{
    margin: 0px 10px 10px 10px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    background-color: #383843;
    color: white;
    border: 1px solid #383843;
    transition: 0.5s;
}

div#pt1 > div#pt1cnt > input.sub:hover{
    cursor: pointer;
    color: #383843;
    background-color: #ffffff;
    transition: 0.5s;
}

/*acabou a pt1 do site agr a pt2*/

div#pt2{
    background-color: #333333;
    width:100%;
    height: 48vh;
    border-bottom:3px dashed #3d3d49;
    text-align: center;
    
}

div#pt2 > div#pt2cnt > h1{
    padding: 30px;
    color: white;
    font-size: 2.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#pt2 > div#pt2cnt > p{
    color: white;
    padding: 20px 20px 20px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
}

/*fim da pt2 agora a pt3*/

div#pt3{
    display: flex;
    background-color: #333333;
    width:100%;
    flex-direction: column;
    padding-top: 20px;
    border-bottom:3px dashed #3d3d49;
    
}

div#pt3 > div#conteinerbx3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

div#pt3 > div#conteinerbx3 > div#box3{
    display: flex;
    min-width: 250px;
    max-width: 500px;
    min-height: 250px;
    max-height: 500px;
    background-color: #404040;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px 15px 15px 25px;
}

div#pt3 > div#conteinerbx3 > div#box3 > div.cntbx3 > h1{
    font-size: 2.2em;
    padding-bottom: 20px;
}

div#pt3 > div#conteinerbx3 > div#box3 > div.cntbx3 > p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: rgb(255, 255, 156);
}

/*fim da parte 3, começo da parte 4*/

div#pt4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-color:#333333;
    border-bottom:3px dashed #3d3d49;
}

div#cntpt4{
    text-align: center;
}

div#pt4 > div#cntpt4 > h1{
    padding: 30px;
    color: white;
    font-size: 2.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div#pt4 > div#cntpt4 > p{
    color: white;
    padding: 20px 20px 20px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
}

mark{
    background-color: #404040;
    color: rgb(255, 255, 156);
}

div#pt4 > div#cntpt4 > input{
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #e4e4e4;
    font-weight: bolder;
    transition: 0.3s;
}

div#pt4 > div#cntpt4 > input:hover{
    background-color: #c5c5c5;
    color:rgb(255, 255, 156) ;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.637);
    transition: 0.3s;
}

/*Parte do footer*/

footer{
    height: 15vh;
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer > p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    padding: 20px;
}

footer > p > mark > a{
    text-decoration: none;
    color:rgb(255, 255, 156) 
}

footer > p > mark > a:hover{
    cursor: pointer;
}